/**custom properties**/
:root{
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #FFF;
    --negro: #000

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*esta anotaci칩n iguala 1 rem a 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

/**Globales**/
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5; /*interlineado*/
}
p{ /*selecciona p치rrafos*/
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;/*selecciona enlaces elimina interlineados*/
}
img{
    max-width: 100%;
}
.contenedor{
    max-width: 120rem; /*caja central*/
    margin: 0 auto; /*centra la caja*/
}
h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
/*se definen tama침os individuales d elos headings*/
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
/**Header**/
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}
/**Navegaci칩n**/
.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; /*separa elementos*/
}
.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario)
}
